xml_project/manuva.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="manuva">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artisans" type="ArtisansType"/>
        <xs:element name="customers" type="CustomersType"/>
        <xs:element name="orders" type="OrdersType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ArtisansType">
    <xs:sequence>
      <xs:element name="artisan" type="ArtisanType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArtisanType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="specialty" type="xs:string"/>
      <xs:element name="products" type="ProductsType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="ProductsType">
    <xs:sequence>
      <xs:element name="product" type="ProductType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="price" type="xs:decimal"/>
      <xs:element name="stock" type="xs:integer"/>
      <xs:element name="rating" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="category" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="CustomersType">
    <xs:sequence>
      <xs:element name="customer" type="CustomerType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="OrdersType">
    <xs:sequence>
      <xs:element name="order" type="OrderType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="items" type="ItemsType"/>
      <xs:element name="total" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="customer_id" type="xs:IDREF" use="required"/>
    <xs:attribute name="date" type="xs:date" use="required"/>
    <xs:attribute name="status" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="item" type="ItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:attribute name="product_id" type="xs:IDREF" use="required"/>
    <xs:attribute name="quantity" type="xs:integer" use="required"/>
    <xs:attribute name="price" type="xs:decimal" use="required"/>
  </xs:complexType>

</xs:schema>
